
* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 濡쒓렇�� 諛뺤뒪 */
.login-form {
    width: 380px;
    padding: 40px 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* 媛� �낅젰 �곸뿭 */
.modal {
    margin-bottom: 20px;
}

.modal p {
    font-size: 14px;
    margin-bottom: 6px;
    font-weight: 600;
}

input[type="text"], /* �띿뒪�� �낅젰�섎뒗 李쎄낵 */
input[type="password"] { /* �⑥뒪�뚮뱶瑜� �낅젰�섎뒗 李�*/
    width: 100%;
    padding: 10px 12px; /* �덉そ �꾩븘��, 醫뚯슦 �щ갚 */
    border: 1.5px solid #d2d2d2;
    border-radius: 4px; /* 紐⑥꽌由� �κ�寃� */
    font-size: 15px;
    transition: border-color 0.3s ease; /* �뚮몢由� �� 蹂�寃� �� 遺��쒕읇寃� 0.3珥덇컙 蹂��� */
}
input[type="text"]:focus, /* �띿뒪�� �낅젰�섎뒗 李쎌뿉 �ъ빱�� */
input[type="password"]:focus { /* �섏뒪�뚮뱶 �낅젰李쎌뿉 �ъ빱�� */
    border-color: #1e4482; /* 諛붾�� �� 吏��� */
    outline: none;
}

/* 媛쒖씤�뺣낫 �숈쓽 */
.back {
    margin-bottom: 30px;
    margin-left: 5px;
}

.private {
    font-size: 13px;
    user-select: none; /* �쒕옒洹� �섏� 紐삵븯寃�, �띿뒪�� 蹂듭궗 遺덇��� */
    cursor: pointer;
}

.private input[type="checkbox"] {
    transform: scale(1.2);
    margin-right: 6px;
    margin-bottom: 2px;
    vertical-align: middle; /* �띿뒪�몄� �섏쭅以묒븰�� 留욎떠吏��꾨줉 �ㅼ젙*/
}

/* 踰꾪듉 �곸뿭 */
.start {
    display: flex;
    justify-content: space-between;
}

/* �쇰컲 踰꾪듉 */
.start button {
    width: 35%;  /* 踰꾪듉 �덈퉬瑜� 遺�紐� �붿냼 �덈퉬�� 40%濡� �ㅼ젙 */
    padding: 13px 0;   /* �꾩븘�� 12px, 醫뚯슦 0�� �대� �щ갚 */
    font-size: 16px;   /* 湲��� �ш린 16px */
    font-weight: 600;   /* 湲��� �먭퍡瑜� 援듦쾶 (semi-bold) */
    border-radius: 4px;  /* �뚮몢由� �κ렐 紐⑥꽌由� 諛섍꼍 4px */
    cursor: pointer;    /* 留덉슦�� 而ㅼ꽌瑜� �먭��� 紐⑥뼇�쇰줈 蹂�寃� (�대┃ 媛��� �쒖떆) */
    border: none;    /* �뚮몢由� �놁쓬 */
    transition: background-color 0.3s ease; /* 諛곌꼍�됱씠 遺��쒕읇寃� 0.3珥덉뿉 嫄몄퀜 蹂��섎룄濡� �ㅼ젙 */
}

/* �섎룎�꾧�湲� 踰꾪듉 */
#restart {
    background-color: #eee;
    color: #777;
}
#restart:hover { /* 留덉슦�� �щ졇�꾨븣 �� 蹂�寃� */
    background-color: #ddd;
}

.btn-green {
    background-color: #143c7a;
    color: white;
    box-shadow: 0 2px 3px #143c7a;
}
.btn-green:hover {
    background-color: #254f8e;
    box-shadow: 0 3px 4px #254f8e;
}